<h1>Welcome {{response.first_name}} </h1>
<!-- <div *ngIf="expression" -->



<button class="btn" [routerLink]="['/login']" routerLinkActive="router-link-active" (click)="logout()" >Lougout</button> 

<!-- put list editor below this comment -->
<!-- should be in an ngif statement -->



<!-- Button to create a todo item -->
<button class="btn" [routerLink]="['/listeditor']" routerLinkActive="router-link-active" >Create List</button>
<!-- ul should be an ngfor -->
<!-- this sho -->

<div class="success" *ngIf="listService.message">
    {{listService.message}}
</div>
<ul class="list-container" *ngFor="let list of todolists; index as i">
    <li [routerLink]="['/list-items']" routerLinkActive="router-link-active" >
        <span class="list-item">{{i + 1}}</span> {{list.list_name}}
        <button class="btn" (click)="deleteList(list.list_name,list.list_id,i)">delete</button>
    </li> 
</ul>
