<p>
    login works!
    {{testVar}}
  </p>
  <!-- form itself -->
  <div class="form-container">
    <h1>Welcome to the todolist</h1>
      <label>Email</label>
      <input type="text" placeholder="Email" [(ngModel)]="user.email"/><br/>
      <label>Password</label>
      <input type="password" placeholder="Password" [(ngModel)]="user.password"/>
      <!-- Button container -->
      <div class="btn-container">
        <button (click)="loginBtn()">Login</button>
        <a [routerLink]="['/create_account']"  >Create Account</a>
      </div>
      <!-- Create account should be an anchor tag -->
  </div>
  