
<button class="btn" [routerLink]="['/todolist']" routerLinkActive="router-link-active" >Back</button>

<div class="create-list-container">
    <form [formGroup]="createListForm"(ngSubmit)="createList()">
        <div *ngIf="listName?.invalid && (listName?.dirty || listName?.touched)" class="validationErrors">
            <div *ngIf="listName.errors?.required">
                List name is required
            </div>
        </div>
        <label>List name</label> <br/>
        <input id="list_name" type="text" placeholder="List Name" formControlName="list_name" />
    </form> 
</div>
