.create-account-container{
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    
}
.create-account-container h1{
    text-align: center;
    
}

.create-account-container button{
    border-style: solid;
    border-color: rgb(255, 0, 0);
    color: red;
    background-color: blue;
    margin-left: 20px;
    font-size: 20pt;
    border-radius: 24px;
    
}

.create-account-container a {

    margin: 15px;
    position: absolute;
    border-style: solid;
    border-color: rgb(255, 0, 0);
    color: red;
    background-color: blue;
    margin-left: 20px;
    font-size: 20pt;
    border-radius: 24px;
    text-decoration: none;
}

.create-account-container a:hover{
    color: aqua;
    background-color: purple;
}

input,label{
    margin: 5px;
}
input {
    width: 90%;
}

