<p>create-account works!</p>
<div class="create-account-container">
    <!-- you need to add angular routing -->
    <a [routerLink]="['/login']">back</a>
    <h1>Create New Account</h1>
    <label>First Name</label>
    <input type="text" value="First Name"  [(ngModel)]="newAccount.first_name"/><br/>
    <label>Last Name</label>
    <input type="text" value="Last Name" [(ngModel)]="newAccount.last_name"/><br/>
    <label>Email</label>
    <input type="email" value="Email" [(ngModel)]="newAccount.email"/><br/>
    <label>Password</label>
    <input type="password" [(ngModel)]="newAccount.password"><br/>
    <!-- This button will be used for debugging purposes -->
    <button (click)="printToConsole()">print to console</button>
</div>
